.pagetitle-inner-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 18px 0 13px;
    min-height: 74px;
    box-sizing: border-box;
}
.pagetitle-container {
    margin-right: 15px;
}
.pagetitle-inner-container .pagetitle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    margin: 0 45px 0 0;
    padding: 21px 0 21px 0;
    max-width: 100%;
    overflow: hidden;
}
.pagetitle-item {
    padding: 0 10px 0 0;
}
.tasks-grid-username {
    max-width: 100%;
    display: inline-flex;
    align-items: center;
    overflow: hidden;
    vertical-align: middle;
    color: #525c69;
    text-decoration: none;
    white-space: nowrap;
    padding: 3.5px 13px 3.5px 4px;
    margin: -4px 0;
    transition: 250ms linear all;
    box-sizing: border-box;
    height: 29px;
    background: transparent;
    border-radius: 14.5px;
}
.tasks-grid-avatar {
    display: inline-block;
    vertical-align: middle;
    width: 22px;
    min-width: 22px;
    height: 22px;
    border-radius: 50%;
    margin: 0 5px 0 0;
    position: relative;
    background-image: url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20viewBox%3D%220%200%2089%2089%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Ccircle%20fill%3D%22%23535C69%22%20cx%3D%2244.5%22%20cy%3D%2244.5%22%20r%3D%2244.5%22/%3E%3Cpath%20d%3D%22M68.18%2071.062c0-3.217-3.61-16.826-3.61-16.826%200-1.99-2.6-4.26-7.72-5.585-1.734-.483-3.383-1.233-4.887-2.223-.33-.188-.28-1.925-.28-1.925l-1.648-.25c0-.142-.14-2.225-.14-2.225%201.972-.663%201.77-4.574%201.77-4.574%201.252.695%202.068-2.4%202.068-2.4%201.482-4.3-.738-4.04-.738-4.04.388-2.625.388-5.293%200-7.918-.987-8.708-15.847-6.344-14.085-3.5-4.343-.8-3.352%209.082-3.352%209.082l.942%202.56c-1.85%201.2-.564%202.65-.5%204.32.09%202.466%201.6%201.955%201.6%201.955.093%204.07%202.1%204.6%202.1%204.6.377%202.556.142%202.12.142%202.12l-1.786.217c.024.58-.023%201.162-.14%201.732-2.1.936-2.553%201.485-4.64%202.4-4.032%201.767-8.414%204.065-9.193%207.16-.78%203.093-3.095%2015.32-3.095%2015.32H68.18z%22%20fill%3D%22%23FFF%22/%3E%3C/svg%3E);
    background-size: cover;
}
.tasks-grid-username-inner {
    display: inline-block;
    vertical-align: middle;
    height: 20px;
    line-height: 20px;
    color: #525C69;
    padding-left: 11px;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}
.enum-container {
    display: flex;
}
.enum-field-text {
    text-transform: uppercase;
    white-space: nowrap;
    line-height: 21px;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
}
.enum-field-renouncement .enum-field-text {
    color:#fff;
}
.enum-field {
    background: #D1DADE;
    border-radius: 12px;
    padding: 0 8px;
}
.enum-field-draft {
    background: #D1DADE;
}
.enum-field-negotiation, .enum-field-change {
    background: #FF9D33;
}
.enum-field-approve, .enum-field-new, .enum-field-planned {
    background: #BBED21;
}
.enum-field-renouncement {
    background: #ED5E55;
}

